$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.social_links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 5.55vw;
  grid-gap: 0.83vw;
  @media screen and (min-width: $fullscreen) {
    grid-auto-rows: 84px;
    grid-gap: 13px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-auto-rows: 14vw;
    grid-gap: 1.45vw;
  }
}
.social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-size: 1.67vw;
  line-height: 2.15vw;
  color: #FFFFFF;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  &:hover {
    transition: all 0.5s ease;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 25px;
    line-height: 33px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.3vw;
    line-height: 5.5vw;
  }
}
.social_link_fb {
  background-color: #3B5999;
  background-image: url(../../svg/social_fb.svg);
  background-position: bottom -0.76vw right 2.5vw;
  background-size: 2.1vw;
  &:hover {
    background-color: #4F71B8;
    background-position: bottom right 2.5vw;
  }
  @media screen and (min-width: $fullscreen) {
    background-position: bottom -11.6px right 38px;
    background-size: 32px;
    &:hover {
      background-position: bottom right 38px;
    }
  }
  @media screen and (max-width: $mobile) {
    background-position: bottom -2.66vw right 8.7vw;
    background-size: 7.25vw;
    &:hover {
      background-color: #3B5999;
      background-position: bottom -2.66vw right 8.7vw;
    }
  }
}
.social_link_insta {
  background-color: #F1336C;
  background-image: url(../../svg/social_insta.svg);
  background-position: bottom -1.9vw right 1.6vw;
  background-size: 4.9vw;
  &:hover {
    background-color: #FF4980;
    background-position: bottom -1.2vw right 1.6vw;
  }
  @media screen and (min-width: $fullscreen) {
    background-position: bottom -29px right 24px;
    background-size: 75px;
    &:hover {
      background-position: bottom -18px right 24px;
    }
  }
  @media screen and (max-width: $mobile) {
    background-position: bottom -6.5vw right 5.5vw;
    background-size: 17.15vw;
    &:hover {
      background-color: #F1336C;
      background-position: bottom -6.5vw right 5.5vw;
    }
  }
}
.social_link_tiktok {
  background-color: #1B1B1B;
  background-image: url(../../svg/social_tiktok.svg);
  background-position: bottom -0.9vw right 2.1vw;
  background-size: 3.2vw;
  &:hover {
    background-color: #2B2B2B;
    background-position: bottom -0.2vw right 2.1vw;
  }
  @media screen and (min-width: $fullscreen) {
    background-position: bottom -14px right 32px;
    background-size: 49px;
    &:hover {
      background-position: bottom -3px right 32px;
    }
  }
  @media screen and (max-width: $mobile) {
    background-position: bottom -3.14vw right 7.25vw;
    background-size: 11.1vw;
    &:hover {
      background-color: #1B1B1B;
      background-position: bottom -3.14vw right 7.25vw;
    }
  }
}