// $bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.about_title {
  font-size: 2.9vw;
  line-height: 4.2vw;
  margin-top: 3.1vw;
  margin-bottom: 1.5vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 44px;
    line-height: 64px;
    margin-top: 47px;
    margin-bottom: 23px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 7.5vw;
    line-height: 8.9vw;
    margin-top: 21.7vw;
    margin-bottom: 4.2vw;
  }
}
.about_intro_title {
  font-size: 2.2vw;
  line-height: 3.2vw;
  margin-bottom: 1vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 33px;
    line-height: 49px;
    margin-bottom: 15px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 5.5vw;
    line-height: 8.5vw;
    margin-bottom: 2.4vw;
  }
}
.about_wrap {
  border: 1px solid #D9D9D9;
  border-radius: 24px;
  padding: 2.3vw 0 2vw 2.4vw;
  @media screen and (min-width: $fullscreen) {
    padding: 35px 0 30px 36px;
  }
  @media screen and (max-width: $mobile) {
    padding: 5vw 5vw 4.5vw;
  }
}
.about_text_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 2.4vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 36px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 5vw;
  }
}
.about_content {
  max-width: 44.6vw;
  @media screen and (min-width: $fullscreen) {
    max-width: 678px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 100%;
  }
}
.about_text {
  max-width: 97%;
  margin-bottom: 2vw;
  @media screen and (min-width: $fullscreen) {
    // max-width: 872px;
    margin-bottom: 30px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 5vw;
  }
}
.about_p {
  font-size: 1.1vw;
  line-height: 1.7vw;
  margin-bottom: 1vw;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.9vw;
    line-height: 5.6vw;
    margin-bottom: 4vw;
  }
}
.about_quote {
  font-size: 1.8vw;
  line-height: 2.5vw;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 1.9vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 27px;
    line-height: 38px;
    margin-bottom: 29px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.5vw;
    line-height: 5.1vw;
    margin-bottom: 4vw;
  }
}