$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.index_intro {
  margin-bottom: 3.1vw;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  height: 32.4vw;
  height: 44.2vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 47px;
  }
  @media screen and (min-width: $bigfullscreen) {
    height: 616px;
  }
  @media screen and (max-width: $mobile) {
    height: 140.3vw;
    margin-top: 14.6vw;
    margin-bottom: 10vw;
  }
}
.index_intro_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 34.4vw;
  @media screen and (min-width: $fullscreen) {
    max-width: 523px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 100%;
    // margin-bottom: 10vw;
    align-items: flex-end;
    gap: 44.4vw;
    padding: 14vw 4.1vw 0;
    top: auto;
    left: auto;
    margin-right: auto;
    transform: none;
  }
}
.index_intro_title {
  font-size: 2.9vw;
  line-height: 4.2vw;
  margin-bottom: 1.5vw;
  color: #FFFFFF;
  @media screen and (min-width: $fullscreen) {
    font-size: 44px;
    line-height: 64px;
    margin-bottom: 23px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 10.6vw;
    line-height: 11.4vw;
    margin-bottom: 0;
  }
}
.index_intro_p {
  font-size: 1.45vw;
  line-height: 1.8vw;
  color: #FFFFFF;
  text-align: center;
  @media screen and (min-width: $fullscreen) {
    font-size: 22px;
    line-height: 27px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.3vw;
    line-height: 6.5vw;
    text-align: right;
    max-width: 46vw;
  }
}
.index_intro_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}
.index_intro_img_mob {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @media screen and (max-width: $mobile) {
    display: block;
  }
}
.index_title {
  font-size: 2.2vw;
  line-height: 3.2vw;
  margin-bottom: 2.1vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 33px;
    line-height: 49px;
    margin-bottom: 32px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 7.5vw;
    line-height: 8.9vw;
    margin-bottom: 4.2vw;
  }
}
.index_speech {
  display: grid;
  grid-template-columns: 1fr 2.1fr;
  margin-bottom: 2.4vw;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 36px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 10vw;
  }
}
.index_speech_trigger1 {
  position: absolute;
  top: 10vw;
  @media screen and (min-width: $fullscreen) {
    top: 152px;
  }
  @media screen and (max-width: $mobile) {
    top: 120vw;
  }
}
.index_speech_trigger2 {
  position: absolute;
  top: 17vw;
  @media screen and (min-width: $fullscreen) {
    top: 258px;
  }
  @media screen and (max-width: $mobile) {
    top: 135vw;
  }
}
.index_speech_left {
  height: 31.25vw;
  background-image: url(../../images/index_speech.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: $fullscreen) {
    height: 475px;
  }
  @media screen and (max-width: $mobile) {
    height: 115vw;
    height: 124vw;
    background-image: url(../../images/index_speech.jpg);
  }
}
.index_speech_right {
  background-color: #000000;
  position: relative;
  @media screen and (max-width: $mobile) {
    height: 70.3vw;
  }
}
.index_speech_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.3vw;
  position: absolute;
  top: 4.5vw;
  left: -2.5vw;
  @media screen and (min-width: $fullscreen) {
    gap: 35px;
    top: 68px;
    left: -38px;
  }
  @media screen and (max-width: $mobile) {
    gap: 7vw;
    top: auto;
    bottom: 16.2vw;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
  }
}
.index_speech_text {
  border-radius: 20px;
  background-color: #1F1F1F;
  padding: 1.9vw 2.6vw 1.9vw 1.6vw;
  max-width: 48vw;
  position: relative;
  top: 4.5vw;
  transition: all 0.4s ease;
  background: rgba(72, 72, 72, 0.63);
  backdrop-filter: blur(4px);
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    left: 4.7vw;
    bottom: -1.5vw;
    border: 1vw solid transparent;
    border-left: 1vw solid rgba(40, 40, 40, 0.63);
    border-top: 1vw solid rgba(40, 40, 40, 0.63);
    z-index: 1;
  }
  &.active1 {
    top: 0;
    transition: all 0.4s ease;
  }
  &.active2 {
    top: 0;
    transition: all 0.4s ease;
    transition-delay: 0.2s;
  }
  @media screen and (min-width: $fullscreen) {
    padding: 29px 40px 29px 24px;
    max-width: 730px;
    top: 68px;
    &::before {
      left: 71px;
      bottom: -23px;
      border: 15px solid transparent;
      border-left: 15px solid rgba(40, 40, 40, 0.63);
      border-top: 15px solid rgba(40, 40, 40, 0.63);
    }
  }
  @media screen and (max-width: $mobile) {
    padding: 4.8vw 4.3vw 4.8vw 4.1vw;
    max-width: 81.9vw;
    top: 9vw;
    &::before {
      left: 8.9vw;
      bottom: -4.8vw;
      border: 3.5vw solid transparent;
      border-left: 3.5vw solid rgba(47, 47, 47, 0.63);
      border-top: 3.5vw solid rgba(47, 47, 47, 0.63);
    }
    &:first-child {
      max-width: 61.8vw;
      &::before {
        bottom: -6.4vw;
        border-left: 3.5vw solid rgba(92, 92, 92, 0.734);
        border-top: 3.5vw solid rgba(92, 92, 92, 0.734);
      }
    }
  }
}
.index_speech_p {
  font-size: 1.1vw;
  line-height: 1.45vw;
  color: #FFFFFF;
  margin-bottom: 0.5vw;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 7.6px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.4vw;
    margin-bottom: 1.7vw;
  }
}
.index_catalog {
  margin-bottom: 3.9vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 59px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 10vw;
  }
}
.index_link {
  font-size: 1.45vw;
  line-height: 1.8vw;
  padding: 1.1vw 3.7vw;
  border-radius: 16px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  background-color: #1F1F1F;
  transition: all 0.5s ease;
  &:hover {
    background-color: #313131;
    transition: all 0.5s ease;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 22px;
    line-height: 27px;
    padding: 17px 56px;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    font-size: 4.5vw;
    line-height: 5.1vw;
    padding: 4.5vw;
    text-align: center;
    &:hover {
      background-color: #1F1F1F;
    }
  }
}
.index_diplomas {
  margin-bottom: 3.9vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 59px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 12vw;
  }
}
.index_registration {
  margin-bottom: 3.9vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 59px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 10vw;
  }
}



// .index_registration {
//   @media screen and (min-width: $fullscreen) {

//   }
//   @media screen and (max-width: $mobile) {

//   }
// }