$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.index_intro {
  margin-bottom: 3.1vw;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  height: 32.4vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 47px;
  }
  @media screen and (min-width: $bigfullscreen) {
    height: 616px;
  }
  @media screen and (max-width: $mobile) {
    height: 140.3vw;
    margin-top: 14.6vw;
    margin-bottom: 10vw;
  }
}
.index_intro_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 34.4vw;
  @media screen and (min-width: $fullscreen) {
    max-width: 523px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 100%;
    // margin-bottom: 10vw;
    align-items: flex-end;
    gap: 44.4vw;
    padding: 14vw 4.1vw 0;
    top: auto;
    left: auto;
    margin-right: auto;
    transform: none;
  }
}
.index_intro_title {
  font-size: 2.9vw;
  line-height: 4.2vw;
  margin-bottom: 1.5vw;
  color: #FFFFFF;
  @media screen and (min-width: $fullscreen) {
    font-size: 44px;
    line-height: 64px;
    margin-bottom: 23px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 10.6vw;
    line-height: 11.4vw;
    margin-bottom: 0;
  }
}
.index_intro_p {
  font-size: 1.45vw;
  line-height: 1.8vw;
  color: #FFFFFF;
  text-align: center;
  @media screen and (min-width: $fullscreen) {
    font-size: 22px;
    line-height: 27px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.3vw;
    line-height: 6.5vw;
    text-align: right;
    max-width: 46vw;
  }
}
.index_intro_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}
.index_intro_img_mob {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @media screen and (max-width: $mobile) {
    display: block;
  }
}
.index_title {
  font-size: 2.2vw;
  line-height: 3.2vw;
  margin-bottom: 2.1vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 33px;
    line-height: 49px;
    margin-bottom: 32px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 7.5vw;
    line-height: 8.9vw;
    margin-bottom: 4.2vw;
  }
}
.index_speech {
  display: grid;
  grid-template-columns: 1fr 2.1fr;
  margin-bottom: 2.4vw;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 36px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 10vw;
  }
}
.index_speech_trigger1 {
  position: absolute;
  top: 10vw;
  @media screen and (min-width: $fullscreen) {
    top: 152px;
  }
  @media screen and (max-width: $mobile) {
    top: 120vw;
  }
}
.index_speech_trigger2 {
  position: absolute;
  top: 17vw;
  @media screen and (min-width: $fullscreen) {
    top: 258px;
  }
  @media screen and (max-width: $mobile) {
    top: 135vw;
  }
}
.index_speech_left {
  height: 31.25vw;
  background-image: url(../../images/index_speech.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: $fullscreen) {
    height: 475px;
  }
  @media screen and (max-width: $mobile) {
    height: 115vw;
    height: 124vw;
    background-image: url(../../images/index_speech.jpg);
  }
}
.index_speech_right {
  background-color: #000000;
  position: relative;
  @media screen and (max-width: $mobile) {
    height: 70.3vw;
  }
}
.index_speech_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.3vw;
  position: absolute;
  top: 4.5vw;
  left: -2.5vw;
  @media screen and (min-width: $fullscreen) {
    gap: 35px;
    top: 68px;
    left: -38px;
  }
  @media screen and (max-width: $mobile) {
    gap: 7vw;
    top: auto;
    bottom: 16.2vw;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
  }
}
.index_speech_text {
  border-radius: 20px;
  background-color: #1F1F1F;
  padding: 1.9vw 2.6vw 1.9vw 1.6vw;
  max-width: 48vw;
  position: relative;
  top: 4.5vw;
  transition: all 0.4s ease;
  &::before {
    content: "";
    position: absolute;
    left: 4.7vw;
    bottom: -1.5vw;
    border: 1vw solid transparent;
    border-left: 1vw solid #1F1F1F;
    border-top: 1vw solid #1F1F1F;
  }
  &.active1 {
    top: 0;
    transition: all 0.4s ease;
  }
  &.active2 {
    top: 0;
    transition: all 0.4s ease;
    transition-delay: 0.2s;
  }
  @media screen and (min-width: $fullscreen) {
    padding: 29px 40px 29px 24px;
    max-width: 730px;
    top: 68px;
    &::before {
      left: 71px;
      bottom: -23px;
      border: 15px solid transparent;
      border-left: 15px solid #1F1F1F;
      border-top: 15px solid #1F1F1F;
    }
  }
  @media screen and (max-width: $mobile) {
    padding: 4.8vw 4.3vw 4.8vw 4.1vw;
    max-width: 81.9vw;
    top: 9vw;
    &::before {
      left: 8.9vw;
      bottom: -4.8vw;
      border: 3.5vw solid transparent;
      border-left: 3.5vw solid #1F1F1F;
      border-top: 3.5vw solid #1F1F1F;
    }
    &:first-child {
      max-width: 61.8vw;
    }
  }
}
.index_speech_p {
  font-size: 1.1vw;
  line-height: 1.45vw;
  color: #FFFFFF;
  margin-bottom: 0.5vw;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 7.6px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.4vw;
    margin-bottom: 1.7vw;
  }
}
.index_catalog {
  margin-bottom: 4.4vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 67px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 10vw;
  }
}
.index_link {
  font-size: 1.45vw;
  line-height: 1.8vw;
  padding: 1.1vw 3.7vw;
  border-radius: 16px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  background-color: #1F1F1F;
  transition: all 0.5s ease;
  &:hover {
    background-color: #313131;
    transition: all 0.5s ease;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 22px;
    line-height: 27px;
    padding: 17px 56px;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    font-size: 4.5vw;
    line-height: 5.1vw;
    padding: 4.5vw;
    text-align: center;
    &:hover {
      background-color: #1F1F1F;
    }
  }
}
.index_diplomas {
  margin-bottom: 3.9vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 59px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 12vw;
  }
}
.index_registration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  border: 1px solid #D9D9D9;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 2.1vw;
  // max-height: 500px;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 32px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    margin-bottom: 12vw;
  }
}
.index_registration_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @media screen and (max-width: $mobile) {
    display: block;
  }
}
.index_registration_right {
  align-self: center;
  padding: 0 1vw 0 1.8vw;
  @media screen and (min-width: $fullscreen) {
    padding: 0 15px 0 27px;
  }
  @media screen and (max-width: $mobile) {
    padding: 5.3vw 3.9vw 8vw 3.9vw;
  }
}
.index_registration_title {
  font-size: 2.2vw;
  line-height: 3.2vw;
  margin-bottom: 1.45vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 33px;
    line-height: 49px;
    margin-bottom: 22px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.3vw;
    line-height: 8.9vw;
    margin-bottom: 4.8vw;
  }
}
.index_registration_text {
  max-width: 29.5vw;
  @media screen and (min-width: $fullscreen) {
    max-width: 448px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 80vw;
  }
}
.index_registration_text_p {
  font-size: 1.45vw;
  line-height: 1.9vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 22px;
    line-height: 29px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.9vw;
    line-height: 5.1vw;
    margin-bottom: 0.7vw;
  }
}
.index_social_media {
  margin-bottom: 3.9vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 59px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 7.7vw;
  }
}
.index_social_links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 5.55vw;
  grid-gap: 0.83vw;
  @media screen and (min-width: $fullscreen) {
    grid-auto-rows: 84px;
    grid-gap: 13px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-auto-rows: 14vw;
    grid-gap: 1.45vw;
  }
}
.index_social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-size: 1.67vw;
  line-height: 2.15vw;
  color: #FFFFFF;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  &:hover {
    transition: all 0.5s ease;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 25px;
    line-height: 33px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.3vw;
    line-height: 5.5vw;
  }
}
.index_social_link_fb {
  background-color: #3B5999;
  background-image: url(../../svg/social_fb.svg);
  background-position: bottom -0.76vw right 2.5vw;
  background-size: 2.1vw;
  &:hover {
    background-color: #4F71B8;
    background-position: bottom right 2.5vw;
  }
  @media screen and (min-width: $fullscreen) {
    background-position: bottom -11.6px right 38px;
    background-size: 32px;
    &:hover {
      background-position: bottom right 38px;
    }
  }
  @media screen and (max-width: $mobile) {
    background-position: bottom -2.66vw right 8.7vw;
    background-size: 7.25vw;
    &:hover {
      background-color: #3B5999;
    }
  }
}
.index_social_link_insta {
  background-color: #F1336C;
  background-image: url(../../svg/social_insta.svg);
  background-position: bottom -1.9vw right 1.6vw;
  background-size: 4.9vw;
  &:hover {
    background-color: #FF4980;
    background-position: bottom -1.2vw right 1.6vw;
  }
  @media screen and (min-width: $fullscreen) {
    background-position: bottom -29px right 24px;
    background-size: 75px;
    &:hover {
      background-position: bottom -18px right 24px;
    }
  }
  @media screen and (max-width: $mobile) {
    background-position: bottom -6.5vw right 5.5vw;
    background-size: 17.15vw;
    &:hover {
      background-color: #F1336C;
    }
  }
}
.index_social_link_tiktok {
  background-color: #1B1B1B;
  background-image: url(../../svg/social_tiktok.svg);
  background-position: bottom -0.9vw right 2.1vw;
  background-size: 3.2vw;
  &:hover {
    background-color: #2B2B2B;
    background-position: bottom -0.2vw right 2.1vw;
  }
  @media screen and (min-width: $fullscreen) {
    background-position: bottom -14px right 32px;
    background-size: 49px;
    &:hover {
      background-position: bottom -3px right 32px;
    }
  }
  @media screen and (max-width: $mobile) {
    background-position: bottom -3.14vw right 7.25vw;
    background-size: 11.1vw;
    &:hover {
      background-color: #1B1B1B;
    }
  }
}

// .index_registration {
//   @media screen and (min-width: $fullscreen) {

//   }
//   @media screen and (max-width: $mobile) {

//   }
// }