$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.queens_intro_title {
  font-size: 2.9vw;
  line-height: 4.2vw;
  margin-top: 3.1vw;
  margin-bottom: 1.5vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 44px;
    line-height: 64px;
    margin-top: 47px;
    margin-bottom: 23px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 7.5vw;
    line-height: 8.9vw;
    margin-top: 21.7vw;
    margin-bottom: 4.2vw;
  }
}
.queens_intro_description {
  padding: 3.5vw 2.4vw 5vw;
  border-radius: 24px;
  border: 1px solid #D9D9D9;
  margin-bottom: 2.4vw;
  @media screen and (min-width: $fullscreen) {
    padding: 53px 36px 76px;
    margin-bottom: 36px;
  }
  @media screen and (max-width: $mobile) {
    padding: 8vw 7vw 9vw 3.9vw;
    margin-bottom: 10vw;
  }
}
.queens_intro_description_text {
  max-width: 43.3vw;
  @media screen and (min-width: $fullscreen) {
    max-width: 658px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 100%;
  }
}
.queens_intro_description_p {
  font-size: 1.1vw;
  line-height: 1.45vw;
  margin-bottom: 1.45vw;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 22px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.3vw;
    margin-bottom: 4.3vw;
  }
}
.kings_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 0.5vw;
  margin-bottom: 2.4vw;
  @media screen and (min-width: $fullscreen) {
    grid-gap: 8px;
    margin-bottom: 36px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-gap: 1.9vw;
    margin-bottom: 10vw;
  }
}
.queens_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-gap: 0.5vw;
  margin-bottom: 2.4vw;
  @media screen and (min-width: $fullscreen) {
    grid-gap: 8px;
    margin-bottom: 36px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-gap: 1.9vw;
    margin-bottom: 10vw;
  }
}
.queens_link {
  display: inline-block;
  overflow: hidden;
  border-radius: 24px;
}
.queens_link1 {
  grid-column: 1/4;
  grid-row: 1/2;
}
.queens_link2 {
  grid-column: 4/7;
  grid-row: 1/2;
}
.queens_link3 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.queens_link4 {
  grid-column: 3/5;
  grid-row: 2/3;
}
.queens_link5 {
  grid-column: 5/7;
  grid-row: 2/3;
}
.queens_link1,
.queens_link2,
.queens_link3,
.queens_link4,
.queens_link5 {
  @media screen and (max-width: $mobile) {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
}
.queens_item_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}



.queens_title {
  font-size: 2.2vw;
  line-height: 3.2vw;
  margin-bottom: 2.1vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 33px;
    line-height: 49px;
    margin-bottom: 32px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 7.5vw;
    line-height: 8.9vw;
    margin-bottom: 4.2vw;
  }
}
