$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.reviews_intro_title {
  font-size: 2.9vw;
  line-height: 4.2vw;
  margin-top: 3.1vw;
  margin-bottom: 1.5vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 44px;
    line-height: 64px;
    margin-top: 47px;
    margin-bottom: 23px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 7.5vw;
    line-height: 8.9vw;
    margin-top: 21.7vw;
    margin-bottom: 4.2vw;
  }
}
// .reviews_title {
//   font-size: 2.2vw;
//   line-height: 3.2vw;
//   margin-bottom: 2.1vw;
//   @media screen and (min-width: $fullscreen) {
//     font-size: 33px;
//     line-height: 49px;
//     margin-bottom: 32px;
//   }
//   @media screen and (max-width: $mobile) {
//     font-size: 7.5vw;
//     line-height: 8.9vw;
//     margin-bottom: 4.2vw;
//   }
// }
.reviews_social_link {
  border-radius: 16px;
  font-size: 1.67vw;
  line-height: 2.15vw;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  padding: 1.7vw 0;
  margin-bottom: 3.9vw;
  background-repeat: no-repeat;
  background-color: #3B5999;
  background-image: url(../../svg/social_fb.svg);
  background-position: bottom -0.76vw right 2.8vw;
  background-size: 2.1vw;
  transition: all 0.5s ease;
  &:hover {
    transition: all 0.5s ease;
    background-color: #4F71B8;
    background-position: bottom right 2.8vw;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 25px;
    line-height: 33px;
    padding: 26px 0;
    margin-bottom: 59px;
    background-position: bottom -11.6px right 43px;
    background-size: 32px;
    &:hover {
      background-position: bottom right 43px;
    }
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.3vw;
    line-height: 5.5vw;
    padding: 4.3vw 0;
    margin-bottom: 8vw;
    background-position: bottom -2.66vw right 8.7vw;
    background-size: 7.25vw;
    &:hover {
      background-color: #3B5999;
      background-position: bottom -2.66vw right 8.7vw;
    }
  }
}
.reviews_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 0.5vw;
  margin-bottom: 2.4vw;
  @media screen and (min-width: $fullscreen) {
    grid-gap: 8px;
    margin-bottom: 36px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.7vw;
    margin-bottom: 10vw;
  }
}
.reviews_link {
  display: inline-block;
  overflow: hidden;
}
.reviews_item_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  border: 1px solid #D9D9D9;
  padding: 0 3px;
  @media screen and (min-width: $fullscreen) {

  }
  @media screen and (max-width: $mobile) {

  }
}